<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="catalogueService" class="org.globalmart.api.catalogue.ProductCatalogueService">        
    </bean>

	<bean id="priceService" class="org.globalmart.api.pricing.ProductPriceService">       
    </bean>
     
    <bean id="globalMartDSService" class="org.globalmart.api.db.GlobalMartDSService">       
    </bean>
</beans>